/* Will be compiled down to a single stylesheet with your sass files */
body,
h1,
h2 {
	margin: 0;
	padding: 0;
}

button {
	position: absolute;
}

.container {
	overflow: hidden;
	background: #bada55;
}

#vertical-slider {
	position: relative;
	height: 100%;
}

#horizontal-slider {
	position: relative;
}

.vertical-slide {
	float: left;
	width: 100%;
	height: 100%;
}