/* Will be compiled down to a single stylesheet with your sass files */
body,
h1,
h2 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	position: absolute;
}

.container {
	overflow: hidden;
	background: #bada55;
}

#horizontal-slider {
	position: relative;
	height: 100%;
}
.horizontal-slide {
	float: left;
	width: 100%;
	height: 100%;
}

#vertical-slider {
	position: relative;
}
.vertical-slide ul {
	top: 50%;
	left: 50%;
	padding: 0;
	position: absolute;
	overflow: hidden;
}
.vertical-slide li {
	list-style: none;
}