/* Will be compiled down to a single stylesheet with your sass files */
body,
h1,
h2 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	position: absolute;
}

nav {
	position: relative;
	z-index: 3;
}
nav li {
	display: inline;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #bada55;
}
.current.page {
	z-index: 2;
}
.left-offset {
	left: -100%;
	z-index: 1;
	background: red;
}
.right-offset {
	left: 100%;
	z-index: 1;
	background: blue;
}